.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin-top: 20px;
}

.name {
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.image {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-bottom: 10px;
}

.info {
  font-size: 16px;
  color: #555;
}
